{% extends 'base.html' %}
{% block title %} {{data.nama}} {% endblock %}
{% block content %}
{%load static%}
<script src="{% static 'js/beli.js' %}"></script>    

<br><br><br>
<div class="container" style="color: black">
	<ul class="messages">
		{% for msg in messages %}
				<div class="alert alert-{{msg.level_tag}}" role="alert">
					{{msg.message}}
				</div>
			
		{% endfor %}
	</ul>
    <div class="row">
        <div class="col-lg-6 col-sm-12" style="align-content: center;align-self: center;align-items: center;">
            <img src="/{{data.image}}" alt="{{data.nama}}" style="border-radius: 20%"><br>
            <!-- <h1>{{data.nama}}</h1>
            <h1>Rp.{{data.harga}}</h1> -->
        </div>
        <div class="col-lg-6">
		</br></br>
		<b><h1 class ="nama_barang" id ="{{data.nama}}">{{data.nama}}</h1></b>
			<h2>Rp.{{data.harga}}</h2>
			<h5><a href="">⭐⭐⭐⭐⭐</h5></a>
				</br>
				

				<div class="shop-item-details">
						{% if request.user.is_authenticated %}
						Tersisa :  {{data.stok}} </BR>
						<input type="submit" id="tambah" class="button" value="ADD TO CART !">
					  {%else%}

					  <form  action="{% url 'cekharga' pk=data.pk %}" method="post" style="align-content: left; text-align: left; align-self: left;"> 
	    		{% csrf_token %}
		    		<div class="form-group">
		        	<label>Nama:</label>
		        	 {{form.nama}}
		        	</div> 
		            <div class="form-group">
		        	<label>kupon:</label>
		        	 {{form.kupon}}
		        	</div> 
	            <button type="submit" class="btn btn-success" name="cek">cekharga</button>

             <button type="submit" class="btn btn-success" name="beli">beli</button> 
				 </form> 
				</br>
				 <h5>
				 </br> <a href={% url 'account:login' %} class="btn btn-primary">Log In</a> untuk menambah ke CART</h5>
				
						{%endif%}
				  </div>
        </div>
    </div>
    <br>
</div>
<br><br><br>

  {% endblock %}
  <!--cekharga masukkan form.kupon kupon dari winalton sama primary key barang-->

        	<!--<form  action="{% url 'cekharga' %}" method="post" style="align-content: left; text-align: left; align-self: left; color: white">
    		{% csrf_token %}-->