{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% load static %}

{% block content %}
<script src="{% static 'js/cart.js' %}"></script>    
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
<h1>CART</h1>
</BR>
</br>
<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">@Price (Rp)</th>
                <th scope="col">Quantity</th>
    
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for qs in keranjang %}
            {% for barang in qs.isi_keranjang.all %}
            <tr id="{{barang}}">
                <td></td>
                <td>{{barang}}</td>
                <td>{{barang.harga}}</td>
                <td class="kuantitas_{{barang}} row" id="{{barang.kuantitas}}">
                    <div class="col-2 kuantitas">
                        {{barang.kuantitas}}
                    </div>
    
    
                    <div class="col-9">
                        <button style="width: 40px; height: 40px;" class="btn btn-warning tambah" role="button">+</button>
                        <button style="width: 40px; height: 40px;" class="btn btn-warning kurang" role="button">-</button>
                        </>
    
                </td>
                <td><button class="btn buang">a</button></td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table> -->

<!-- <section class="container content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">Rp. 0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section> -->

{% endblock %}