{% extends 'base.html' %}
{% block title %}Coupon{% endblock %}
{% block content %}
<br><br><br>
<div style="text-align:center">
<h3>Berikut adalah kupon-kupon yang disediakan oleh <b>Tokopepewia</b></h3>
<h4>Tersedia {{queryset|length}} kupon</h4></br>
</div>

<!-- <form id="searchForm" action="javascript:search();">
  <div class="input-group">
     <button id="go" class="btn btn-default" type="button" 
             onclick="document.getElementById('searchForm').submit(); return false;">
     </button>
     <input type="text" id="searchItem" class="form-control" placeholder="Cari kupon kamu disini / Tekan (CTRL +F) pada keyboard.">
  </div>
</form> -->
<!-- <input type="text" id="ajax" list="json-datalist" placeholder="e.g. 20"> -->
<div class="autocomplete" style="width:300px;">
  <label for="myInput" id="myInputt">Diskon: </label>
  <!-- <input id="myInput" type="text" name="myCountry" placeholder="Diskonn"> -->
  <input id="myInput" placeholder="Masukkan angka saja. Contoh: 20">
  <div id="result"></div>
</div>

</br></br>
<div class="container">
      <div id="kupon" class=""></div>
        <div class="d-flex flex-row flex-wrap justify-content-center">
          {% for kupon in queryset %}
          <div class="card m-3 d-flex flex-wrap text-align-center">
            <div class="card-body">
              <h5 class="card-title">DISKON {{kupon.diskon}}%</h5>
              <p class="card-text">Min price: {{kupon.minimum}}</p>
              <p class="card-text">Expire: {{kupon.tanggal}}</p>
              <p class="card-text">Kode kupon:</p>
              <h3 class="card-text" id="{{kupon.kode}}">{{kupon.kode}}</h3>
              <button style="background-color: grey" onclick="copyToClipboard('#{{kupon.kode}}')"><b>COPY KODE COUPON</B></button>  
            </div>
          </div>
          {% endfor %}
      </div>
  </div>
  <script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }
  </script>

<script>
  function search() {
   
     var name = document.getElementById("searchForm").elements["searchItem"].value;
     var pattern = name.toLowerCase();
     var targetId = "";
   
     var divs = document.getElementsByClassName("container");
     for (var i = 0; i < divs.length; i++) {
        var para = divs[i].getElementsByTagName("h3");
        var index = para[0].innerText.toLowerCase().indexOf(pattern);
        if (index != -1) {
           targetId = divs[i].parentNode.id;
           document.getElementById(targetId).scrollIntoView();
           break;
        }
     }  
  }
  </script>

  {% endblock %}