{% extends 'base.html' %}
{% block title %}TOKOPEPWIA {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
<script src="{% static 'js/pre-cart.js' %}"></script>    
<br><br><br>
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="min-height : 200px; max-height : 120px; width : 50%;"class="d-block w-100" src="/static/image/produk3.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img style="min-height : 200px; max-height : 120px; width : 50%;" class="d-block w-100" src="/static/image/produk2.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img style="min-height : 200px; max-height : 120px; width : 50%;" class="d-block w-100" src="/static/image/produk4.png" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container">
  <div id="barang" class=""></div>
    <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
      <div class="card-deck">
          <div class="shop-items">
        {% for barang in queryset %}		  
        <div class="shop-item">
          <div style="min-width: 250px; max-width:250px; max-height: 500px;"class="card mb-3 d-flex flex-wrap ">
            <img class= "shop-item-image" style='height:175px; width: 100%;' class="card-img-top" src={{barang.image}} alt="Card image cap" >
            <div class="card-body">
              <div class="d-flex flex-column flex-wrap justify-content-center">
                <h7>
                <a class="shop-item-title" style='height:50px;' class="card-title pb-2" href ="{% url 'beli' pk=barang.pk %}">{{barang.nama}}</a></h7></br></br>
                <h6>Rp. </h6><h3 class="card-text shop-item-price">{{barang.harga}}</h3>
              </div>
            </div>
          <div class="card-footer text-right">
            <small class="text-muted">stok {{barang.stok}}</small>
          </div>
          <div class="shop-item-details">
              {% if request.user.is_authenticated %}
            <button class="btn btn-primary shop-item-button" type="button"> ADD TO CART</button>
              {%endif%}
        </div>
        </div>
          </div>
        {% endfor %}
        </div>
      </div>
          
  </div>
</div>

{%if user.is_authenticated %}
<ul class="messages" id="msg">
    {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}}" role="alert">
          {{msg.message}}
        </div>
      
    {% endfor %}
  </ul>
  <form id="friend-form">
  {% csrf_token %}
<div class="modal-body">
    <!-- test -->
    <section class="container content-section">
<h2 class="section-header">CART</h2>
<div class="cart-row">
<span class="cart-item cart-header cart-column">ITEM</span>
<span class="cart-price cart-header cart-column">PRICE</span>
<span class="cart-quantity cart-header cart-column">QUANTITY</span>
</div>
<div class="cart-items">
</div>
<div class="cart-total">
<strong class="cart-total-title">Total</strong>
<span class="cart-total-price">Rp. 0</span>
</div>
<input  class="form-control" id="coupn" placeholder="add coupon here">
<button class="btn btn-primary btn-purchase" type="submit" id="transbtn">PURCHASE</button>
</section>
<!-- <section class="container content-section">
    <h2 class="section-header">Recently added: </h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
    </div>
    <div class="cart-items">
    </div>
    <br><br>
    <a></a>
</section> -->
{%endif%}



{% endblock %} 