{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block title%}Login{%endblock%}
{% block content %}
<br><br><br>
<div class='container'>
    <div class='container'>
        <h2>Log In</h2>
        <br>
        {%if request.GET.next%}
        <p>It's look like you are not logged in, please log in first.</p>
        {%endif%}
        <form method="post" action="{%url 'account:login' %}" novalidate>
            {% csrf_token %}
            <div class='col-md-4'>
                {{form.username|as_crispy_field}}
            </div>
            <div class='col-md-4'>
                {{form.password|as_crispy_field}}
            </div>
            <div class ='col-md-4'>
            <button type="submit" class='btn btn-primary'>Log In</button>
            <p><small>Don't have an account? <a href="{%url 'account:signup' %}" style="color:red;">Register here.</a></small></p>
            </div>
        </form>
        <a class='btn btn-danger' href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
    
    </div>
</div>
{% endblock %}