<div class="container">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #ff1344">
    <a class="navbar-brand" href="{% url 'mainmenu:home' %}">TOKOPEPWIA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="background-color: #ff1344">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if nbar == 'home'%} active {%endif%}" href="{% url 'mainmenu:home' %}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'transaksi' %}">TRANSAKSI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pull-right" href="/coupon/">KUPON</a>
        </li>
        <li class="nav-item disabled">
          <a class="nav-link pull-right" href="/ulasan">ULASAN</a>
        </li>
        {%if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link pull-right" href="{% url 'transaksiku' %}">TRANSAKSIKU</a>
        </li>
        {%endif%}
      </ul>
      <div class="navbar-nav ml-auto">
        {%if user.is_authenticated %}
        
        <li class="nav-item">
          <!-- <a class="nav-link pull-right" href="/cart/">CART</a> -->
          <button type="button" class="modal_keranjang btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Cart
            </button>
        </li>
        <form class="form-inline" method='post' action="{%url 'account:logout' %}">
          {% csrf_token %}
          <button class="btn btn-outline-danger mx-3" type="submit">Log Out</button>
        </form>
        {% else %}
        <a href={% url 'account:login' %} class="btn btn-primary">Log In</a>
        <a href={% url 'account:signup' %} class="btn btn-secondary mx-3" >Register</a>
        {% endif%}
      </div>
    </div>
  </nav>      
</div>
