{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block title%}Register{%endblock%}
{% block content %}
<br><br><br>
<div class='container'>
    <div class='container'>
        <h2>Register</h2>
        <br>
        <a class='btn btn-danger' href="{% url 'social:begin' 'google-oauth2' %}">Register with Google</a>
        <br>
        <br>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class='col-sm-4'>
                {{form.username|as_crispy_field}}
                <small class='pt-0 text-muted '>username can't be change</small>
            </div>
            <div class='col-sm-4'>
                {{form.first_name|as_crispy_field}}
            </div>
            <div class='col-sm-4'>
                {{form.last_name|as_crispy_field}}
            </div>
            <div class='col-sm-4'>
                {{form.email|as_crispy_field}}
            </div>
            <div class='col-sm-4'>
                {{form.password1|as_crispy_field}}
            </div>
            <div class='col-sm-4'>
                {{form.password2|as_crispy_field}}
            </div>
            <button type="submit" class='btn btn-primary'>Register</button>
            <p><small>Already have an account? <a href="{%url 'account:login' %}" style="color:red;">Log In here</a>.</small></p>
        </form>
    </div>
</div>
{% endblock %}