{% extends 'base.html' %}
{% block title %} transaksiku {% endblock %}
{% block content %}
<br><br><br>
<div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <table class="table table-striped table-dark" style=" float: center;" >
        	<tbody>
        		{% for j in data %}
        		<tr>
                    <td>{{ j.tanggal }}</td>
        			<td>{{ j.barang }}</td>
        			<td><img src="/{{j.image}}" alt="{{j.}}" style="border-radius: 20%;width: 100px"></td>
        			<td>Rp.{{ j.harga }}</td>
                    <td>{{ j.jumlah }}</td>
                    <td>Rp.{{ j.hargadisc }}</td>
        			
        		</tr>
        		{% endfor %}
                
        	</tbody>
        </table>
      </div>
  </div>
<br><br><br>
{% endblock %}