{% extends 'base.html' %}
{% block title %}home {% endblock %}
{% block content %}
<br><br>
<div class="container">
      <div id="kupon" class=""></div>
      <form method="POST" action="{% url 'reviewName:reviews' %}">
        <br><br><br>
        {% csrf_token %}

        {{review}}

        <button type="submit", >ADD</button>
         </form>
         <br><br>
         <h2 class="card-title">Ulasan Terkini</h2>
         <div class="d-flex flex-row flex-wrap justify-content-center">
          {% for ulasan in reviews %}
          <div class="card m-3 d-flex flex-wrap text-align-center">
            <div class="card-body">
              <h4 class="card-title">{{ulasan.barang}}</h4>
              <p class="card-text">oleh {{ulasan.pembeli}}</p>
              <h5 class="card-text">Rate = {{ulasan.rate}}/5</h5>
              <p class="card-text">{{ulasan.pesan}}</p>
              <p class="card-text">{{ulasan.tanggal}}</p>
              <!-- <a href="#" class="btn btn-primary">Gunakan</a> -->
            </div>
          </div>
          {% endfor %}
      </div>
  </div>

{% endblock %}